html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,outputruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}
main{
  display: block;
}
body, h1, h2, h3, h4, h5, h6{
  font-family: Helvetica, Arial, sans-serif;
}
p {
  font-family: Garamond, serif;
}
span {
  display: inline-block;
  width: fit-content;
  height: fit-content;
}
#nav-main{
  margin-top: 16px;
  border: 200px ;
  border-color: black t;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.nav-left{
  width: 100%;
  justify-content: left;
}

.header-logo{
  width: 150px;
}
.nav-right {
  width: 100%;
  justify-content: right;
  min-width: 480px;
  margin-right: 4vw;
}
.nav-item{
  display: block;
  padding: 8px 2vw;
  width: fit-content;
}
.flex-col{
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
}
@media screen and (min-width: 1px) {
  .flexgap {
    gap: 30px;
  }
}

@media screen and (min-width: 1024px){
  .flexgap {
    gap: 60px;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1679px) {
  .flexgap {
    flex-wrap: nowrap;
  }
} 
a:hover {
  color: #121212;
  text-decoration: underline;
}
a:active {
    color: #121212;
    text-decoration: underline;
}
a {
  color: black;
  text-decoration: none;
}
a.logo:hover{
  text-decoration: none;
}
.padtop30{
    padding: 30px 0px;
}
.width80{
  width: 80%;
  margin: 0px 10%;
}
#first-sec img{
  float: right;
}
.font-size-giant {
  font-size: 64px;
}
.font-size-large{
  font-size: 36px;
}
.font-size-medium {
  font-size: 22px;
}
.font-size-small {
  font-size: 16px;
}
.round5{
  border-radius: 4%;
}
.balance-text{
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}
.text-center {
  text-align: center;
}
.flex-right {
  justify-content: flex-end;
}
.flex-left {
  justify-content: flex-start;
}
.bggray{
  background-color: gray;
}
@media screen and (min-width: 1px) {
  .row3img {
      width: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1679px) {
  .row3img {
    width: 100%;
  }
}
.marginside-auto{
  margin: 0 auto !important;
}
.fluid{
  width:30%;
  min-width: 200px;
}
.nowrap {
  flex-wrap: nowrap !important;
}
.flexgap-auto{
  gap: 10%;
}
.flex-item-auto{
  width: 100%;
}
.round-container5{
  border-top-left-radius: 5%;
    overflow: clip;
    border-top-right-radius: 5%; 
    overflow: clip; 
    border-bottom-right-radius:5%;
    overflow: clip;
    border-bottom-left-radius: 5% ;
    overflow: clip;
}
.bigblock-text{
  padding: 80px 60px;
  flex-shrink: 2;
}
